/* This is my UGLY WEBSITE CSS -imported from Localize */

/* Individualized Page elements */

.body1 {
    background-image: url(https://tinyurl.com/2p8h47dw);
    background-attachment: fixed;
}
.body2 {
    background-image: url("https://lh3.googleusercontent.com/GBI3OMU16dfEP6xp6ZHERG4QtlieYnfaz8Sw1JaN-MmNb-RQ_-42taURbJeOBSZ7d7ZXWDAt-mPIBIWQUVMKI5cWxGTsuJTx_02LuXoUl2WcHa6uoePOPpB6lIuYt5b1UMi2W1JSOA=w2400");
    background-size: 100%;
}
.body3 {
    background-image: url();
}

/* Code For ALL Pages */

body {background-color: black;}
body {color: lime;}
html,body {
    font-family: 'Fira Sans Condensed', sans-serif;
}
h1, h2 {
    font-family: "Fira Sans Condensed 600", sans-serif;
}

.uglyTable {
    text-align: center;
    padding: 12px;
}

body {
     margin: 9pt 
}
 html, body {
     font-family: 'Fira Sans Condensed', sans-serif;
}
 h1, h2, h3, h4, h5, h6 {
     font-family: 'Fira Sans Condensed', sans-serif;
     font-weight: bold;
}
 h1 {
     font-weight: bold;
}
 h1:hover, h2:hover {
     background-color: rgb(247, 243, 6);
     border: 1pt rgb(197, 197, 198) solid;
     border-radius: 6px;
}
 h2 {
     color: steelblue;
     font-style: bold;
}
 h3 {
     color: orangered;
     margin: 24px;
    padding: 0 18px 0 18px;
}
 h3:hover {
    text-align: center;
     background-color: rgb(242, 250, 253);
     border: 6pt rgb(197, 197, 198) dotted;
     border-radius: 6px;
     /*margin: 6px;*/
     margin: 12px;
     box-shadow: 6px black 75%;

}
 a {
     padding: 3px;
     color: magenta;
}
 a:active, a:hover {
    color: blue;
    padding: 3px 9px 3px 9px;
    font-weight: bold;
     background-color: red;
     border-radius: 12px;
}
 .center {
     text-align: center;
}
 table, th, td {
     border: 1px solid lightgrey;
     border-collapse: collapse;
}
 table.a {
     table-layout: auto;
     width: 180px;
}
 table.b {
     table-layout: fixed;
     width: 180px;
     text-align: center;
}

/* Navagation Menu - Drop Down */
/* The Drop Button */
.dropButton {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
    /* Dropdown links re-color on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Shows dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #3e8e41;}

/* The end of the Navigation Menu */

/* Timer in Offer Box */
/* The Timer has script that is added into the body of the HTML doc */

/* Offers Page */
/* This is for the tables on "the ugly 1" page */
/* I thought this would be a good way to show a very HTML "thing" -- tables */

table {
    border-collapse: collapse;
    border: 1px solid magenta;
  } 
  
  th,td {
    border: 1px solid black;
  }
  
  table.a {
    table-layout: auto;
    width: 180px;  
  }
  
  table.b {
    table-layout: fixed;
    width: 180px;  
  }
  
  table.c {
    table-layout: auto;
    width: 100%;  
  }
  
  table.d {
    table-layout: fixed;
    width: 100%;  
  }
/* This is for the Offer Page */

.offerCount{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: center;
  font-weight: bold;
  margin-top: 0px;
  background-color: black;
  border-radius: 9px;
  padding: 9px;
  font-size: 150%;
  color: white;
}

/* Marquee Banner on Offers Page */
/* Theres a script on the Offers Page for the Timer */

#poop { /* clever name for the banner on the Offers Page */
  text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000, 0 0;
   font-style: bold;
   font-size:2em;
   font-weight:bold; 
   color: #ffffff;
}

#offer { /* this is the Main Offer Box */
  background-color: beige;
  border: red 9pt dotted;
  padding: 3px 12px 3px 12px;
  margin: 2% 15% 2% 15%;
  border-radius: 6px;
  text-align: center;

}
#offer, h1 {
  color: red;
}
#offer:hover {
  background: yellow;
  border: red 9pt solid;
  padding: 9px 12px 9px 12px;
  margin: 21px 3px 21px 3px;
  border-radius: 6px;
  width: auto;
  height: auto;

}

#movBox2 {
  color: black;
  background-color: lightgrey;
  border: red 9pt ridge;
  margin: 21px 3px 21px 3px;
  padding: 1pt 6pt 12pt 6pt;
  border-radius: 21px;
  box-shadow: #888888 9px;
  min-height: 200px;
}
.blankName {
  background-color: red;
  padding: 0 9px 0 9px;
  color: white;
}

/* This is all for the clearFix tag */

.div3 {
    border: 3px solid blue;
    color: white;
    background-color: black;
    padding: 0px 12px;
    }
    
    .clearFix {
    overflow: auto;
    }
    
    .clearFixPix {
    float: right;
    width: 210px;
    }

    /* This would be a second CSS file, but i couldnt make it work!! */

    /* This is for the tables on "the ugly 1" page */
/* I thought this would be a good way to show a very HTML "thing" -- tables */

table {
  border-collapse: collapse;
  border: 1px solid magenta;
} 

th,td {
  border: 1px solid black;
}

table.a {
  table-layout: auto;
  width: 180px;  
}

table.b {
  table-layout: fixed;
  width: 180px;  
}

table.c {
  table-layout: auto;
  width: 100%;  
}

table.d {
  table-layout: fixed;
  width: 100%;  
}
/* This is for the Offer Page */

#offer{
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
text-align: center;
font-weight: bold;
margin-top: 0px;
background-color: black;
border-radius: 9px;
padding: 9px;
font-size: 150%;
color: white;
}

/* Marquee Banner on Offers Page */
#poop {
text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000, 0 0;
 font-style: bold;
 font-size:2em;
 font-weight:bold; 
 color: #ffffff;
}
/* Ugly Offers Page */

#offer {
background-color: beige;
border: red 9pt dotted;
padding: 3px 12px 3px 12px;
margin: 2% 15% 2% 15%;
border-radius: 6px;
text-align: center;

}
#offer, h1 {
color: red;
}
#offer:hover {
background: yellow;
border: red 9pt solid;
padding: 9px 12px 9px 12px;
margin: 21px 3px 21px 3px;
border-radius: 6px;
width: auto;
height: auto;

}

#movBox2 {
color: black;
background-color: lightgrey;
border: red 9pt ridge;
margin: 21px 3px 21px 3px;
padding: 1pt 6pt 12pt 6pt;
border-radius: 21px;
box-shadow: #888888 9px;
min-height: 200px;
}
.blankName {
background-color: red;
padding: 0 9px 0 9px;
color: white;
}
