/* This is my UGLY WEBSITE CSS -imported from Localize */
/* For all pages */

body {background-color: black;}
body {color: lime;}
html,body {
    font-family: 'Fira Sans Condensed', sans-serif;
}
h1, h2 {
    font-family: "Fira Sans Condensed 600", sans-serif;
}

.uglyTable {
    text-align: center;
    padding: 12px;
}

/* This copied from index.html */

body {
     margin: 9pt 
}
 html, body {
     font-family: 'Fira Sans Condensed', sans-serif;
}
 h1, h2, h3, h4, h5, h6 {
     font-family: 'Fira Sans Condensed', sans-serif;
     font-weight: bold;
}
 h1 {
     font-weight: bold;
}
 h1:hover, h2:hover {
     background-color: rgb(228, 247, 253);
     border: 1pt rgb(197, 197, 198) solid;
     border-radius: 6px;
}
 h2 {
     color: steelblue;
     font-style: bold;
}
 h3 {
     color: grey;
}
 h3:hover {
     background-color: rgb(242, 250, 253);
     border: 1pt rgb(197, 197, 198) solid;
     border-radius: 6px;
}
 a {
     padding: 3px;
     color: magenta;
}
 a:active, a:hover {
    color: blue;
    padding: 3px 9px 3px 9px;
    font-weight: bold;
     background-color: red;
     border-radius: 12px;
}
 .center {
     text-align: center;
}
 table, th, td {
     border: 1px solid lightgrey;
     border-collapse: collapse;
}
 table.a {
     table-layout: auto;
     width: 180px;
}
 table.b {
     table-layout: fixed;
     width: 180px;
     text-align: center;
}

 /* This is copied from the special.html page
 
 body {
     margin-left: 25%;
     margin-right: 25%;
}
 #specialTable {
    margin: 0px;
    padding: 12px;
}  */


/* This is CSS imported from the notes.html page


body {
    margin: 9pt;
}

html,
body {
    font-family: 'Fira Sans Condensed', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Fira Sans Condensed', sans-serif;
    font-weight: bold;
}
h1 {
    font-weight: bold;
}
h2 {
    color: steelblue;
    font-style: bold;
}
h3 {
    color: grey;
}

a {
    padding: 3px;
}

a:active,
a:hover {
    padding: 3px;
    background-color: springgreen;
    font-weight: bold;
}

.center {
    text-align: center;
}

table,
th,
td {
    width: 85%;
    border: 1px solid lightgrey;
    border-collapse: collapse;
}

table.a {
    table-layout: auto;
    width: 180px;
}

table.b {
    table-layout: fixed;
    width: 180px;
    text-align: center;
}

*/

